* {
  font-family: Roboto;  
}

div {
  margin-left: 0px;
  margin-right: 0px;
}

.inputarea {
 margin-top: 20px; 
}


.location {
  font-size: 20pt;
}

.text-left {
  text-align: left;
}

.row {
  margin-top: 20px;
}

.textfield {
  padding:0px;
}

#grid {
  margin-left: 0px;
  margin-right: 0px;
}