* {
  font-family: Roboto;  
}

div {
  margin-left: 0px;
  margin-right: 0px;
}

.inputarea {
 margin-left: 20px; 
 margin-right: 20px; 
}

.button {
  width: 100px;
  height: 100px;
}

.location {
  font-size: 20pt;
}

.text-left {
  text-align: left;
}

.row {
  margin-top: 20px;
}

.textfield {
  padding:0px;
}

#grid {
  margin-left: 0px;
  margin-right: 0px;
}

.mymap {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.inputbox {
  margin-left: 10px;
}

.disclaimer {
  position: absolute;
  bottom: 5px;
}

.colcentered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.banner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}